
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin-left: 0;
    padding: 0;

}
body{
    width: 100vw;
    height: 100vh;
    background-color: #F5F5F7;
    font-family: "Inter", sans-serif;
    text-align: center;
}
footer{
    width: 100vw;
    text-align: left;

}

header{
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px;
    text-align: center;


    >a{
        color: #5B47D1;
        background-color: #F0EDFF;
        padding: 10px 20px;
        font-size: 24px;
        font-weight: 700;
        text-decoration: none;
        margin-right: 50px;
        
        
    

    }

    >a:hover{
        color: #240679;
        box-shadow: 0 2px 4px rgba(1, 48, 255, 0.1);
    }

    nav{
        display: inline-block;

        ul{
            margin-top: 5px;
            li{
                display: inline;
                list-style: none;
                padding: 10px 20px;
                

                a{
                    text-decoration: none;
                    color: #000000;
                    font-weight: 500;
                    


                    &:hover{
                        color: #0257f5;
                    }
                }
                
            }
        }
    }
}

.container{
    width: 100%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 8px 70px 8px;
    text-align: center;
    background-image: url(./assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.container h1{
    color: white;
    text-align: center;
    padding-top: 100px;
    font-family: Inter, sans-serif;
    font-size: 48px;
    font-weight: bold;
}
.container p{
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 10px;
    font-family: Inter, sans-serif;
    font-size: 20px;
}
.cards-container{
    text-align: left; 

    
}

.cards-container small, p{
    text-align: left; 
    
}

.card{
    width: 360px;
    height: 240px;
    padding: 16px 8px 16px 8px;
    background-color:#C7B8FF;
    background-image: url(./assets/ai.jpg);
    background-size: 100%;

    
}

.card:hover{
    background-image: none;
    background-color: #a5b1f3;
}

.card1{
    width: 360px;
    height: 240px;
    padding: 16px 8px 16px 8px;
    background-color: rgb(223, 100, 182, 0.33);
    background-image: url(assets/webdev.jpg);
    background-size: 100%;
    
}

.card1:hover{
    background-image: none;
    background-color:rgb(223, 100, 182, 0.33);
}

.card2{
    width: 360px;
    height: 240px;
    padding: 16px 8px 16px 8px;
    background-color: #B8E0FF;
    background-image: url(./assets/cybersecurity.jpg);
    background-size: 100%;
    
}

.card2:hover{
    background-image: none;
    background-color:B8E0FF;
}



.card3{
    width: 360px;
    height: 240px;
    padding: 16px 8px 16px 8px;
    background-color: #D4FFB8;
    background-image: url(./assets/cloud.jpg);
    background-size: 100%;
    
}

.card3:hover{
    background-image: none;
    background-color:#D4FFB8;
}

.card4{
    width: 360px;
    height: 240px;
    padding: 16px 8px 16px 8px;
    background-color: #FFE4B8;
    background-image: url(./assets/mobileapps.jpg);
    background-size: 100%;
    
}

.card4:hover{
    background-image: none;
    background-color: #FFE4B8;
   
}

.card5{
    width: 360px;
    height: 240px;
    padding: 16px 8px 16px 8px;
    background-color: #FFD4B8;
    background-image: url(./assets/blockchain.jpg);
    background-size: 100%;
    
}

.card5:hover{
    background-image: none;
    background-color: #FFD4B8;
   
}

.cards-container-section{
    text-align: left;
    display: inline-block;
    width: 360px;
    height: 232px;
    padding: 16px 8px 16px 8px;
    background-color: #FFFFFF;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: semi-bold;
    padding: 16px 8px 16px 8px;
    
    
}

.cards-container:hover{
    box-shadow: 0 4px 8px 0 rgba(4, 193, 226, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    background-color: rgba(171, 171, 175, 0.8);
    
}


.cards-container h3{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    color: black;
    font-family: sans-serif;
    font-size: 22px;


}

.cards-container p{
    text-align: left;
    margin-top: 10px;
    font-size: 16px;
    color: black;
    font-family: sans-serif;
    font-size: 15px;

}

.cards-container h3{
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
    color: black;
    font-family: sans-serif;
    font-size: 22px;

}

.cards-container small, time{
    text-align: left;
    margin-top: 10px;
    font-size: 16px;
    color: black;
    font-family: sans-serif;
    font-size: 15px;

}

.cards-container time{
    margin-right: 20px;
}

h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
    color: black;
}

.flex-container{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    place-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;  

    
    
}

.footer{
    padding-left: 20%;
    padding-top: 50px;
    width: 80%;
    height: 403px;
    background-color: #252424;
    margin-top: 100px;

    a{
        text-decoration: none;
    }
    
}
.footer p, h3{
    color: white;
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: semi-bold;
    margin-bottom: 0px;
         

}
.footer ul{
    font-family: Inter, sans-serif;
    font-size: 14px;
    color:#A1A1A6;
    list-style: none;
    display: inline-block;
    padding-left: 0;
    
}
.footer ul a{
    text-decoration: none;
    color: #A1A1A6;
    display: inline-block;
    font-family: Inter, sans-serif;
    font-size: 14px;
    padding-top: 5px;

    
}
.footer a:hover{
    color: #2802ff;
}

.footer div{
    display: inline-block;
    margin-right: 100px;
}


.footer-copyright{
    width: 100%;
    height: 55px;
    background-color:#020202;
    margin: 0;
    display: inline-block;
    text-align: center;
    place-items: center;
    font-family: Inter, sans-serif;
    font-size: 13px;
    color: #86868B;
    font-weight: semi-bold;
    padding: 16px 0px 16px 0px;
}








